<link rel="stylesheet" href="/css/private_area.css">


<main>
    <!-- private content -->
    <div id="private">
        <div class="container">
            <div class="row">
                <!-- sub-navigation area -->
                <div class="col-lg-3">
                    <div class="heading">
                        <h3>Community</h3>
                    </div>
                    <button class="report">
                        <a href="/report">Report</a>
                    </button>
                    
                    <div class="filter">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".swim">Swimming</li>
                            <li data-filter=".fish">Fishing</li>
                            <li data-filter=".aqua">Aquaculture</li>
                        </ul>
                    </div>
                    <div id="search-box">
                        <input type="text" placeholder="Type to search">
                        <a class="search-btn" href="" target="_blank">
                            <ion-icon name="search" size="large"></ion-icon>
                        </a>
                    </div> 
                </div>
                <!-- End -->
                <!-- filter content -->
                <div class="col-lg-9"> 
                    <div class="filter-content">
                        <div class="row grid">
                            <div class="col-md-4 all swim">
                                <div class="item">
                                    <div class="images">
                                        <img src="\img\community\swim-1.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?</h6>
                                        <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_1">Level I</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 all swim">
                                <div class="item">
                                    <div class="images">
                                        <img src="\img\community\swim-2.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?</h6>
                                        <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_3">Level III</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 all fish">
                                <div class="item">
                                    <div class="images">
                                        <img src="\img\community\fish-1.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?</h6>
                                        <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_2">Level II</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 all aqua">
                                <div class="item">
                                    <div class="images">
                                        <img src="\img\community\aqua-2.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?</h6>
                                        <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_4">Level IV</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 all swim">
                                <div class="item">
                                    <div class="images">
                                        <img src="\img\community\swim-3.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?</h6>
                                        <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_1">Level I</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 all fish">
                                <div class="item">
                                    <div class="images">
                                        <img src="\img\community\fish-2.jpg" alt="">
                                    </div>
                                    <div class="post-content">
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?</h6>
                                        <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_3">Level III</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- popup content -->
    <div class="popup-container">
        <div class="popup">
            <span id="close">✖</span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6" id="left_row">
                        <div class="data-information">
                            <h1>Lorem</h1>
                            <h6>Quality Check : Passed</h4>
                            <h6>Location : loream.Rd.</h4>
                            <div class="rating">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <a href="">(52 reviews)</a>
                            </div>
                            <div class="pop-img">
                                <img src="\img\community\swim-1.jpg" alt="">
                            </div>
                            
                        </div>
                        <!-- data-table -->
                        <div class="private_data">
                            
                            <h5>Recent Water Quality Data </h5>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Date</th>
                                        <th>Electrical Conductivity</th>
                                        <th>pH</th>
                                        <th>Tempature</th>
                                        <th>Total Dissolved Solids</th>
                                        <th>Water Turbidity</th>
                                        <th>Location</th>
                                    </tr>
                                    <tr>
                                        <td>10/10</td>
                                        <td>200</td>
                                        <td>300</td>
                                        <td>400</td>
                                        <td>500</td>
                                        <td>600</td>
                                        <td>700</td>
                                    </tr>
                                    <tr>
                                        <td>05/10</td>
                                        <td>200</td>
                                        <td>300</td>
                                        <td>400</td>
                                        <td>500</td>
                                        <td>600</td>
                                        <td>700</td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                        <!-- End -->

                    </div>
                    <div class="Write-comments">
                        <div class="rating-wrapper">
                            <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                            <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                            <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                            <input type="radio" name="rating" id="star-4"><label for="star-4"></label>
                            <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                        </div>
                        <div class="write-reviews">
                            <textarea id="reviews">(Write reviews)</textarea>
                            <button>Write Reviews</button>
                        </div>

                        <!-- comments area -->
                        <div class="comments">
                            <div class="comment-header">
                                <div class="user-infor">
                                    <div class="imgs">
                                        <img src="https://source.unsplash.com/user/erondu/50x50">
                                    </div>
                                    <h5 class="author">Negan</h5>
                                    <span class="date">A week ago</span>
                                    <span>★★★★☆</span>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment-header">
                                <div class="user-infor">
                                    <div class="imgs">
                                        <img src="https://source.unsplash.com/user/erondu/50x50">
                                    </div>
                                    <h5 class="author">Shirry</h5>
                                    <span class="date">A week ago</span>
                                    <span>★★★★☆</span>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment-header">
                                <div class="user-infor">
                                    <div class="imgs">
                                        <img src="https://source.unsplash.com/user/erondu/50x50">
                                    </div>
                                    <h5 class="author">Weiln</h5>
                                    <span class="date">A month ago</span>
                                    <span>★★★★★</span>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="\js\jquery-3.6.0.min.js"></script>
<script src="\js\bootstrap.min.js"></script>
<script src="\js\isotope.js"></script>
<script src="\js\private.js"></script>
