<h2>Verify your email address</h2>
<form action="/emailVerification/codeVerification" method="post">

    <label for="floatingInput">Please enter the email address</label>
    <input type="text" name="userEmail" placeholder="Email address">

    <label for="floatingInput">Please enter the verification code</label>
    <input type="text" name="verificationCode" placeholder="Verification code">

    <button type="submit">Submit</button>

    {{#if emailVerificationAlert}}
        <p>{{emailVerificationAlert}}</p>
    {{/if}}

</form>