<link rel="stylesheet" href="/css/index.css">

<div class="container-fluid">
    <div class ="search">
        <div class ="row">
            <div class="col-md-5 offset-md-1">
                <h1>WaterZen<br></h1>
                <h1>Protect citizen's health by monitoring real-time Australian water quality.</h1>
            </div>

            <script>
                $(document).ready(function() {
                    $(".col-md-5 h1").css("opacity", "100");
                });
            </script>

        </div>
    </div>

    <div class="introduce">
        <div class="row">
            <div class="col-md-4">
                <a href="/official"><div id="official">
                    <img src="/img/embassy.png" alt="government icon"><br>
                    <h4 class="text-center">Official data</h4>
                </div></a>
                <p class="text-center">We provide over 160 water resources' real-time quality data in eight Australian states by using government API.</p>
            </div>
            <div class="col-md-4">
                <a href="/community"><div id="community">
                    <img src="/img/communication.png" alt="community icon"><br>
                    <h4 class="text-center">Community</h4>
                </div></a>
                <p class="text-center">We encourage users to use our self-developed sensors to detect water quality, and share with others in community.  </p>
            </div>
            <div class="col-md-4">
               <h2 class="text-center">Why WaterZen?<br></h2>
               <p class="text-center">Official Data + Self-reported Data <br>
               = <br>
               Your Health</p>
            </div>
        </div>
    </div>
</div>

            {{!-- <div class ="col-md-2 offset-md-3">
                <select id ="selectmenu">
                    <option value="Official">Official Data</option>
                    <option value="Community">Community</option>
                </select>
            </div>

            <script>
                $("#selectmenu").mouseover(function(){
                    $(".col-md-2").css("border","3.5px solid #194764");
                });
                $("#selectmenu").mouseleave(function(){
                    $(".col-md-2").css("border","3.5px solid white");
                });
            </script>

            <div class ="col-md-4">
                <input type="text" placeholder="Search......" onFocus = "hint()" onfocusout="hintdisappear()">
                <a href="/">
                    <ion-icon name="search" size="large"></ion-icon>
                </a>
            </div>

            <script>
                $("input").mouseover(function(){
                    $(".col-md-4").css("border","3.5px solid #194764");
                });
                $("input").mouseleave(function(){
                    $(".col-md-4").css("border","3.5px solid white");
                });
            </script>

            <br>

            <div class ="hint">
                Geographic location (state/city/region) or river/creek/lake name
            </div>

            <script>
                function hint(){
                    $(".hint").css("opacity", "100");
                }
                function hintdisappear(){
                    $(".hint").css("opacity", "0");
                }
                
            </script> --}}


<div class="container">

    <h2 class="text-center">Popular Choices</h2>
    <h5 class="text-center">(1 Oct 2021 - 15 Oct 2021)</h4>

    <div class="row">
        <div class ="col-md-3" id="private">
            <a href="/community"><h4>Private Area | Site 1</h4></a>
        </div>
        
        <div class ="col-md-5" id="public">
           <a href="/official"><h4>Public Area | Loddon River</h4></a>
           <p id="hide">An inland river of the Murray-Darling basin, is located in the Australian state of Victoria, is the second longest river in Victoria.</p>
        </div>

        <div class ="col-md-3" id="product">
            <a href="/product"><h4>Our Product | Sensor</h4></a>
            <p id="hide">To detect the water quality, and upload to the community automatically.</p>
        </div>
    </div>
</div>

<script>
    $(".col-md-5").mouseover(function(){
        $(".col-md-5 #hide").css("display","block");
        $(".col-md-5 h4").css("margin-top", "200px");
    });
    $(".col-md-5").mouseleave(function(){
        $(".col-md-5 #hide").css("display","none");
        $(".col-md-5 h4").css("margin-top", "250px");
    });
    $("#product").mouseover(function(){
        $("#product #hide").css("display","block");
        $("#product h4").css("margin-top", "200px");
    });
    $("#product").mouseleave(function(){
        $("#product #hide").css("display","none");
        $("#product h4").css("margin-top", "250px");
    });

</script>