<form action="/login/checklogin" method="post">
    <label for="floatingInput">Email</label>
    <input type="text" name="user-email" placeholder="Email">

    <label for="floatingInput">Password</label>
    <input type="password" name="username" id="username">
</form>