<form action="/login/checklogin" method="post">
    <label for="floatingInput">Email</label>
    <input type="text" name="useremail" placeholder="Email">

    <label for="floatingInput">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Log in</button>
    <a href="/registration">Sign up</a>
    {{#if alert}}
        <p>{{alert}}</p>
    {{/if}}
</form>