<h1>
    Profile
</h1>

<div>
    <h3>
        General Infomation
    </h3>

    <label>Nickname</label>
    {{#if nickname}}
        <p>{{nickname}}</p>
    {{/if}}

    <label>Email address</label>
    {{#if emailAddress}}
        <p>{{emailAddress}}</p>
    {{/if}}

</div>

<div class=''>
    <h3>
        Update your profile
    </h3>
    <form action="/profile/modifyProfile" method="post">
        <label for="floatingInput">Nickname</label>
        <input type="text" name="nickname" placeholder="Input your new nickname here" required>

        <label for="floatingInput">Email address</label>
        <input type="text" name="emailAddress" required>
        <button type="submit">Save</button>

        {{#if modifyAlert}}
            <p>{{modifyAlert}}</p>
        {{/if}}
    </form>
</div>