    <link rel="stylesheet" href="/css/public.css">
<h2>Public Area</h2>

<section class="QLD"></section>
<section class="WA"></section>
<section class="SA"></section>
<section class="VIC"></section>
<section class="NSW"></section>
<section class="ACT"></section>
<section class="NT"></section>
<section class="TAS"></section>


<script src="\js\publicArea.js"></script>