<link rel="stylesheet" href="/css/public.css">

<section class="top">
    <h2>Finding ... </h2>

    <form action="/publicArea" id="selection">
        <span>
            <label for="city">Search area</label>
            <input id="citySelection" type="text" placeholder="Beijing" name="city">
        </span>
    </form>
    <section id="selectionCity"></section>
</section>



<section>
    <section class="Beijing"></section>
    <section class="Tianjin"></section>
    <section class="Hebei"></section>
    <section class="Shanxi"></section>
    <section class="Nei_Monggol"></section>
    <section class="Liaoning"></section>
    <section class="Jilin"></section>
    <section class="Heilongjiang"></section>
    <section class="Shanghai"></section>
    <section class="Jiangsu"></section>
    <section class="Zhejiang"></section>
    <section class="Anhui"></section>
    <section class="Fujian"></section>
    <section class="Jiangxi"></section>
    <section class="Shandong"></section>
    <section class="Henan"></section>
    <section class="Hubei"></section>
    <section class="Hunan"></section>
    <section class="Guangdong"></section>
    <section class="Guangxi"></section>
    <section class="Hainan"></section>
    <section class="Chongqing"></section>
    <section class="Sichuan"></section>
    <section class="Guizhou"></section>
    <section class="Yunnan"></section>
    <section class="Tibet"></section>
    <section class="Shaanxi"></section>
    <section class="Gansu"></section>
    <section class="Qinghai"></section>
    <section class="Ningxia"></section>
    <section class="Xinjiang"></section>
</section>

<script src="\js\publicArea.js"></script>