<form action="/registration/validation" method="post">
    <label for="floatingInput">Email</label>
    <input type="text" name="useremail" placeholder="Email">

    <label for="floatingInput">Nickname</label>
    <input type="text" name="nickname" placeholder="Nickname">

    <label for="floatingInput">Password</label>
    <input type="password" name="password" id="password">


    <button type="submit">Submit</button>
    
</form>