<form action="/registration/validation" method="post">
    <label for="floatingInput">Email</label>
    <input type="text" name="user-email" placeholder="Email">

    <label for="floatingInput">Nickname</label>
    <input type="text" name="nickname" placeholder="Nickname">

    <label for="floatingInput">Password</label>
    <input type="password" name="username" id="username">


    <button type="submit">Submit</button>
    
</form>