<link rel="stylesheet" href="/css/reset.css">

<div class="container">
    <div class="row">
        <div class = "col-md-3 offset-md-4">
            <h2>Reset Password</h2>
            <hr>
         </div>
        <div class = "col-md-4 offset-md-4">
            <form action="/login/resetPermission" method="post">
                <label for="floatingInput">Email</label>
                <input type="text" name="userEmail" value="{{userEmail}}" readonly="true" id="userEmail">
                <br>
                <label for="floatingInput">New Password</label>
                <input type="password" name="password" id="password">
                <br>
                <label for="floatingInput">Confirm Your New Password</label>
                <input type="password" name="confirm" id="confirm">
                <br>
                <input style="opacity: 0;" type="text" name="token" id="token" value="{{token}}">
                <br>
                {{#if resetAlert}}
                    <p class="text-center">{{resetAlert}}</p>
                {{/if}}
                {{#each validationError}}
                    <small class="text-center text-danger">{{msg}}</small><br>
                {{/each}}
                <button type="submit">Submit</button>
            </form>
       </div>
    </div>
</div>