.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.container-fluid .search{
    height: 600px;
    background-image: url(/img/background3.jpg);
    background-position: center center;
    background-size: cover;  
    margin-top: -55px;
    cursor: pointer;
}


.search .row .col-md-5{
    margin-top: 9%;
}

.col-md-5 h1{
    line-height: 1.35em;
    font-size: 2.75em;
    font-weight: 500;
    color: white;
    text-shadow: -1px -1px white, 1px 1px rgb(110, 110, 110);
    overflow: hidden;
    opacity: 0;
    transition-delay: 0.25s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.col-md-5 h1:first-child{
    font-size: 3.5em;
}

.animate .letter {
    display: inline-block;
    line-height: 1.35em;
}


.introduce{
    height: 450px;
    margin-bottom: 5%;
}

.introduce .row{
    padding-right: 0px;
    --bs-gutter-x: 0rem;
    height: 100%;
}

.col-md-4 a{
    color: black;
}


#official, #community{
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 5%;
}

#official img, #community img{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

#official h4, #community h4{
    transition-duration: 0.25s;
}

#official h4:hover, #community h4:hover{
    color: #295166;
    font-weight: bold;
}

.row .col-md-4 p{
    width: 65%;
    margin-left: 17.5%;
}

.row .col-md-4:last-child p{
    width: 65%;
    color: white;
    font-weight: bold;
}

.row .col-md-4{
    border-bottom: 3px solid lightgrey;
}

.row .col-md-4:last-child{
    background-image: url(/img/rightside.jpg);
    background-position: center center;
    background-size: cover;  
    color: white;
    border-bottom: none;
}

.col-md-4 h2{
    margin-top: 35%;
    font-weight: 500;
    text-shadow: -1px -1px white, 1px 1px rgba(173, 172, 172, 0.493);
    margin-bottom: 3%;
}


hr + h2{
    margin-top: 2.5%;
}

h5{
    margin-bottom: 4%;
}

#private{
    margin-left: 4%;
    background-image: url(/img/privateArea.jpg);
    background-size: 110% 131%;
    height: 300px;
    background-position: center;
    transition: 0.75s;
    cursor: pointer;
}

#private:hover{
    background-size: 100% 119%;
    /*Start code snippet1 */
    filter:alpha(Opacity=80); /*change the transparency*/
    -moz-opacity:0.8;
    opacity: 0.8;
    /*End code snippet 1*/
    /*author: 三味线的铲屎官
     link:https://blog.csdn.net/u010965170/article/details/78729717
     source: CSDN */
}

#product{
    background-image: url(/img/sensor.jpg);
    background-size: 135% 110%;
    height: 300px;
    background-position: center;
    transition: 0.75s;
    cursor: pointer;
}

#product:hover{
    background-size: 123% 100%;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

#public{
    background-image: url(/img/PublicArea.jpg);
    background-size: 110% 110%;
    height: 300px;
    background-position: center;
    transition: 0.75s;
    cursor: pointer;
}

#public h4, .col-md-3 h4{
    margin-top: 250px;
    color:mintcream;
    font-weight: bold;
    transition: 0.75s;
    /*Start code snippet 2*/
    text-decoration: underline 0.125em transparent;
}

.row h4:hover, #public h4:hover{
    text-decoration-color: white;
    transition: 0.5s;
}
    /*End code snippet 2*/
    /*author: Michelle Barker
     link:https://codepen.io/michellebarker/pen/VwPvPMp
     source: CodePen */

.row h4:active, #public h4:active{
   color: #5c97b7;
   text-decoration-color:#5c97b7;
   transition: 0.25s;
}

#public:hover{
    background-size: 100% 100%;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

#hide{
    display: none;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

@media screen and (max-width:700px){
    #private{
        margin-left: 0;
    }
    .search .row .col-md-5{
        margin-bottom: 5%;
        margin-top: 35%;
        width: 80%;
        margin-left: 8%;
    }

    .col-md-5 h1{
        line-height: 1.15em;
        font-size: 2.5em;
        transition-delay: 0.25s;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
    
    .col-md-5 h1:first-child{
        font-size: 3em;
    }

    .introduce{
        height: 1400px;
    }
}
