
.container{
    margin-top: 15%;
}

.col-md-2{
    margin-right: 3%;
    height: 40px;
    border: 3.5px solid #5c97b7;
    border-radius: 50px;
    text-align: center;
    line-height:33px;
    transition: 0.5s;
}

select {
    width: 100%;
    border: none;
    padding-left: 15%;
    outline: none;
}

.col-md-4{
    border: 3.5px solid #5c97b7;
    border-radius: 50px;
    line-height:33px;
    transition: 0.5s;
}

.col-md-4 input{
    width: 75%;
    border: none;
    outline: none;
    margin-left: 3%;
}

.col-md-4 ion-icon{
    margin-right: 2.5%;
    float: right;
    margin-top: 0.3%;
    color: #5c97b7;
}

.col-md-4 ion-icon:hover{
    color: #295166;
}

.row + hr{
    margin-top: 12.5%;
    border: 1px solid black;
    background-color: black;
}

hr + h2{
    margin-top: 2.5%;
    margin-bottom: 4%;
}

.col-md-3:first-child{
    margin-left: 4%;
    background-image: url(/img/privateArea.jpg);
    background-size: 110% 131%;
    height: 300px;
    background-position: center;
    transition: 0.75s;
}

.col-md-3:first-child:hover{
    background-size: 100% 119%;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

.col-md-3:last-child{
    background-image: url(/img/sensor.jpg);
    background-size: 135% 110%;
    height: 300px;
    background-position: center;
    transition: 0.75s;
}

.col-md-3:last-child:hover{
    background-size: 123% 100%;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

.col-md-5{
    background-image: url(/img/PublicArea.jpg);
    background-size: 110% 110%;
    height: 300px;
    background-position: center;
    transition: 0.75s;
}

.col-md-5 h4, .col-md-3 h4{
    margin-top: 250px;
    color:mintcream;
    font-weight: bold;
}

.col-md-5:hover{
    background-size: 100% 100%;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

@media screen and (max-width:700px){
    .col-md-3:first-child{
        margin-left: 0;
    }
    .col-md-2{
        margin-bottom: 5%;
        margin-top: 20%;
        width: 80%;
        margin-left: 10%;
    }

    .col-md-4{
        width: 80%;
        margin-left: 10%;
    }
}
