.container{
    margin-left: 10%;
}

.container h1{
    font-weight: 500;
    color: #295166;
    margin-bottom: 3%;
}

.col-md-8 strong{
    margin-top: 5%;
    color: #295166;
    text-shadow: 0px 1px 0px rgb(226, 226, 226), 0px 1px 0px rgb(226, 225, 225), 0px 2px 0px rgb(197, 196, 196), 0px 2px 0px rgb(196, 194, 194);
}

.col-md-8 p{
    font-size: 1.1em;
    line-height:170%;
    width: 90%;
}

.slideshow{
    margin-top: 5%;
    margin-bottom: 5%;
}

.slideshow img{
    width: 100%;
}

video{
    margin-left: 27.5%;
    margin-bottom: 5%;
}

.col-md-3{
    margin-left: 5%;
    height: 370px;
    width: 22%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #e4eff583;
}

.col-md-3 strong{
    color: #295166;
    margin-left: 10%;
}

.sticky-top{
    top: 25%;
    z-index: 1;
}

.col-md-3 button{
    margin-top: 8%;
    margin-left: 10%;
    height: 50px;
    width: 80%;
    text-align: center;
    margin-bottom: 10%;
    background-color: #295166;
    color: white;
    border: 2px solid #295166;
    border-radius: 3px;
}

.col-md-3 button:hover{
    background-color: #5c97b7; 
    transition-duration: 0.25s;
    border: 2px solid #5c97b7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.1);
}

#contact{
    margin-left: 10%;
    font-size: 0.85em;
    width: 80%;
    margin-top: 2.5%;
}

#contact p{
    line-height: 1.5em;
}

@media screen and (max-width:900px) {
    .col-md-3{
        width: 80%;
    }
    video{
        margin-left: 0%;
    }

    .col-md-8{
        margin-top: 10%;
    }
}