h2 + img{
    width:14%;
    margin-left: 43%;
    margin-bottom: 1.5%;
    border-radius: 50%;
    cursor:pointer;
}

h2 + img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

br+hr{
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
}

hr+.row{
    border: 1px solid rgb(212, 216, 219);
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.row .col-md-5:first-child{
    margin-left: 7%;
}

.col-md-5{
    margin-top: 3%;
    margin-bottom: 3%;
}

#update{
    margin-left: 4%;
}

form{
    margin-top: 4%;
}

input{
    border: 3px solid #5c97b7;
    width: 70%;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    margin-top: 2%;
}

input:focus{
    border: 3px solid #295166;
    outline: none;
    transition: 0.5s;
}

button{
    margin-left: 5%;
    background-color: #295166;
    color: white;
    border: 2px solid #295166;
    border-radius: 3px;
    width: 20%;
    height: 30px;
}

button:hover, .col-md-6 button:hover{
    background-color: #5c97b7; 
    transition-duration: 0.25s;
    border: 2px solid #5c97b7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.1);
}

button+p{
    margin-top: 5%;
}

.col-md-6{
    width: 49%;
    border: 1px solid rgb(212, 216, 219);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

#add{
    width: 15%;
    float: right;
    cursor: pointer; 
    font-size: 0.5em;
    margin-right: 0%;
    color: #295166;
    font-weight: bold;
}

.add{
    width: 10%;
    float: right;
    margin-top: -10%;
    cursor: pointer;  
    margin-right: 2.5%; 
}

#history{
    margin-top: 1.5%;
    width: 80%;
    margin-left: 10%;
}

#history h3{
    margin-top: 3%;
    margin-bottom: 3%;
}

.col-md-6 h3, .col-md-6 label, .col-md-6 p, .col-md-6 table, .col-md-6 .strong{
    margin-left: 3%;
}

#history .col-md-6:last-child{
    margin-left: 2%;
}

#history table{
    margin-bottom: 3%;
    width: 95%
}

.col-md-6 h3 a{
    color: #295166;
}

.report{
    width: 100%;
    margin-left: 0.5%;
}

.report .col-md-4{
    height: 200px;
}

.report .col-md-4 h5{
    margin-bottom: 50%;
    margin-top: 10%;
}

.report .col-md-4 a{
    font-size: 4em;
    text-align: center;
    margin-left: 32.5%;
    color: #295166;
}

.report .col-md-4 a:hover{
    font-size: 4.5em;

}

.col-md-6 button{
    background-color: #295166;
    border: 2px solid #295166;
    border-radius: 3px;
    width: 25%;
    height: 30px;
    margin-left: 37.5%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.col-md-6 button a{
    color: white;
}

@media screen and (max-width:900px){
    h2{
        margin-top: 25%;
    }

    .col-md-5{
        justify-content: center;
        padding-left: 10%;
    }
    #update{
        margin-left: 0%;
    }

    .col-md-6{
        width: 100%;
    }

    #history .col-md-6:last-child{
        margin-left: 0%;
        margin-top: 2%;
    }
    
    .report .col-md-4{
        margin-left: 25%;
        height: 175px;
    }

    .report .col-md-4 h5{
        margin-bottom: 30%;
        margin-top: 5%;
    }

    .col-md-6 button{
        margin-bottom: 5%;
        margin-top: -5%;
    }

    #add{
        width: 20%;
    }

    .add{
        margin-right: 5%; 
    }
    
}

