section{
    display: flex;
    flex-flow: row wrap;
}

.top {
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 5px;
}

.detail-info {
    display: none;
    background-color: antiquewhite;
}

.show {
    display: flex;
}
