body{
    background-image: url(/img/background2.jpg);
    background-size: cover;
}

hr{
    border: 0.5px solid black;
    margin-bottom: 10%;
}

input{
    border: 3px solid #5c97b7;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
}

input:focus{
    border: 3px solid #295166;
    outline: none;
    transition: 0.5s;
}

#password:focus{
    letter-spacing: 5px;
}

#Email, #Nickname, #password{
    margin-bottom: 5%;
}

button{
    margin-top: 5%;
    background-color: #295166;
    color: white;
    border: 2px solid #295166;
    border-radius: 3px;
    width: 25%;
    margin-left: 37.5%;
    height:35px;
}

button:hover{
    background-color: #5c97b7; 
    transition-duration: 0.25s;
    border: 2px solid #5c97b7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.1);
}

small{
    display:flex;
    justify-content: center;
    color: red;
}

.text-success{
    padding-left: 5%;
    margin-top: 1%;
}

