h1{
    margin-left:5%;
    margin-top:2%;
}

.menu{
    margin-left:55%;
}

ul li{
    list-style:none;
    padding:0;
    margin:0;
    float:left;
}

/*測試，這可以刪掉*/
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: yellowgreen;
}


