/*測試，這可以刪掉*/
html,body{
    height:100%;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: lightblue;
}

h1{
    margin-left:5%;
    margin-top:2%;
}

.avatar{
    margin-left:87%;
    width: 3.5%;
    height:7%;
}

.avatar img{
    width:100%;
    height:100%;
}

.menu{
    margin-left:55%;
}

/*horizontal menu*/
ul li{
    list-style:none;
    padding:0;
    margin:0;
    float:left;
}




